defmodule <%= @context_inflected[:web_module] %>.<%= @context_inflected[:module] |> String.replace("#{@context_inflected[:base]}.", "") %>View do
  use <%= @context_inflected[:web_module] %>, :view
end
